<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Funcionário</h2>
    <h3>Informações do funcionário</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <article class="funcionario-info">
    Nome:
    <p><%= funcionario.nome %></p>

    Data de nascimento:
    <p><%= funcionario.nascimento %></p>

    Email:
    <p><%= funcionario.email %></p>

    Setor:
    <p><%= funcionario.setor %></p>

    Cargo:
    <p><%= funcionario.cargo %></p>

    Telefone:
    <p><%= funcionario.telefone %></p>

    Celular:
    <p><%= funcionario.celular %></p>

    CEP:
    <p><%= funcionario.cep %></p>

    UF:
    <p><%= funcionario.uf %></p>

    Localização/Cidade:
    <p><%= funcionario.localizacao %></p>

    Endereço:
    <p><%= funcionario.endereco %></p>

    Informações adicionais:
    <p><%= funcionario.informacoes_adicionais %></p>

    CPF:
    <p><%= funcionario.cpf %></p>

    <a href="/admin/funcionarios" class="btn btn-info btn-right">Voltar</a>
  </article>
</main>
<%- include('../../partials/admin/footer.ejs') %>