<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Cadastrar</h2>
    <h3>Cadastrar novo funcionário</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <form class="form-cadastro" method="POST" action="/admin/funcionario/salvarNovo" onsubmit="desmascarar(event, this)">
    <label>Nome:</label>
    <input type="text" name="iptNome" class="br-7" placeholder="Nome completo">

    <label>Data de nascimento:</label>
    <input type="date" name="iptNascimento" class="br-7">

    <label>Email:</label>
    <input type="email" name="iptEmail" class="br-7" placeholder="seu_email@email.com">

    <label>Setor:</label>
    <select name="iptSetor" class="br-7">
      <% setores.forEach(setor => { %>
        <option value="<%= setor.id %>"><%= setor.setor %></option>
      <% }) %>
    </select>

    <label>Cargo:</label>
    <select name="iptCargo" class="br-7">
      <% cargos.forEach(cargo => { %>
        <option value="<%= cargo.id %>"><%= cargo.cargo %></option>
      <% }) %>
    </select>

    <label>Telefone:</label>
    <input type="tel" name="iptTelefone" class="br-7" placeholder="(00) 00000-0000">

    <label>Celular:</label>
    <input type="tel" name="iptCelular" class="br-7" placeholder="(00) 00000-0000">

    <label>CEP:</label>
    <input type="text" name="iptCEP" class="br-7" placeholder="00000-000">

    <label>UF:</label>
    <select name="iptUF" class="br-7">
      <% ufs.forEach(uf => { %>
        <option value="<%= uf.id %>"><%= uf.sigla %></option>
      <% }) %>
    </select>

    <label>Localização/Cidade:</label>
    <input type="text" name="iptLocalizacao" class="br-7">

    <label>Endereço:</label>
    <input type="text" name="iptEndereco" class="br-7" placeholder="Bairro/Rua/Número">

    <label>Informações adicionais:</label>
    <textarea class="br-7" rows="10" name="iptInformacoes"></textarea>

    <label>CPF:</label>
    <input type="text" name="iptCPF" class="br-7">

    <button type="submit" class="btn btn-add btn-right">Cadastrar</button>
  </form>
</main>
<script src="https://unpkg.com/imask"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/mascarasCliente.js"></script>
<script type="text/javascript" src="/js/axiosCEP.js"></script>
<script type="text/javascript" src="/js/desmascararCliente.js"></script>
<script type="text/javascript" src="/js/limitarDatas.js"></script>
<%- include('../../partials/admin/footer.ejs') %>