<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Funcionários</h2>
  </hgroup>
  <div class="opcoes-funcionarios">
    <a href="/admin/funcionario/novo" class="btn btn-add">Novo funcionário</a>
    <a href="/admin/funcionarios/opcoes" class="btn btn-add">Novo setor/cargo</a>
  </div>
  <hr class="horizontal-bar">
  <article class="funcionarios">
    <table>
      <thead>
        <tr>
          <th class="table-id">ID</th>
          <th class="table-nome">Nome</th>
          <th class="table-email">Email</th>
          <th class="table-celular">Celular</th>
          <th class="table-cargo">Cargo</th>
          <th class="table-acao">Ação</th>
        </tr>
      </thead>
      <tbody>
        <% funcionarios.forEach(funcionario => { %>
          <tr>
            <td class="table-id"><%= funcionario.funcionarioId %></td>
            <td class="table-nome"><%= funcionario.nome %></td>
            <td class="table-email"><%= funcionario.email %></td>
            <td class="table-celular"><%= funcionario.celular %></td>
            <td class="table-cargo"><%= funcionario.cargo %></td>
            <td class="table-acao">
              <button class="btn-table-acao btn-expandir-acoes expandir-0"><i class="fas fa-ellipsis-h"></i></button>
              <ul class="acoes acoes-0">
                <li>
                  <a href="/admin/funcionario/edit/<%= funcionario.id %>" class="btn-table-acao btn-editar-registro" title="Editar registro"><i class="fa fa-edit"></i></a>
                </li>
                <li>
                  <form method="POST" action="/admin/funcionario/deletar" onsubmit="deletarRegistro(event, this)">
                    <input type="hidden" name="iptId" value="<%= funcionario.id %>">
                    <button type="submit" class="btn-table-acao btn-deletar-registro" title="Deletar registro"><i class="fa fa-eraser"></i></button>
                  </form>
                </li>
                <li>
                  <a href="/admin/funcionario/<%= funcionario.id %>" class="btn-table-acao btn-info-registro" title="Informações do registro"><i class="fa fa-info-circle"></i></a>
                </li>
              </ul>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </article>
</main>
<script type="text/javascript" src="/js/botoesExpandirAcoes.js"></script>
<script type="text/javascript" src="/js/deletarRegistro.js"></script>
<%- include('../../partials/admin/footer.ejs') %>