<%- include('partials/header.ejs') %>
  <main class="principal container">
    <hgroup>
      <h2>Blog</h2>
      <h3>Nossos artigos...</h3>
    </hgroup>
    <hr class="horizontal-bar">
    <article class="artigos">
      <% table_artigos.forEach(artigo => { %>
        <section class="artigo br-7">
          <h1 class="title"><%= artigo.titulo %></h1>
          <div class="text">
            <%- artigo.texto %>
          </div>
          <a href="/artigo/<%= artigo.slug %>"><i class="fab fa-blogger-b"></i> Leia mais...</a>
        </section>
      <% }) %>
    </article>
  </main>
<%- include('partials/newsletter.ejs') %>
<%- include('partials/footer.ejs') %>