<%- include('partials/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Clientes</h2>
    <h3>Entre os nossos clientes, estão:</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <article class="clientes">
    <% table_clientes.forEach(cliente => { %>
      <section class="cliente bg-white br-7">
        <a href="#">
          <img src="img/clientes/cliente.png" alt="<%= cliente.nome %>" title="<%= cliente.nome %>">
        </a>
      </section>
    <% }) %>
  </article>
</main>
<%- include('partials/newsletter.ejs') %>
<%- include('partials/footer.ejs') %>