<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Cadastrar</h2>
    <h3>Cadastrar novo cliente</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <form class="form-cadastro" method="POST" action="/admin/cliente/salvarNovo" onsubmit="desmascarar(event, this)">
    <label>Nome:</label>
    <% if (errors.nomeError) { %>
      <p>
        <small class="msgAlert"><%= errors.nomeError %></small>
      </p>
    <% } %>
    <input type="text" name="iptNome" class="br-7" placeholder="Nome completo" value="<%= dados.nome %>">

    <label>Data de nascimento/Criação:</label>
    <% if (errors.anoError) { %>
      <p>
        <small class="msgAlert"><%= errors.anoError %></small>
      </p>
    <% } %>
    <input type="date" name="iptAno" class="br-7" value="<%= dados.ano %>">    

    <label>Email:</label>
    <% if (errors.emailError) { %>
      <p>
        <small class="msgAlert"><%= errors.emailError %></small>
      </p>
    <% } %>
    <input type="email" name="iptEmail" class="br-7" placeholder="seu_email@email.com" value="<%= dados.email %>">
    

    <label>Telefone:</label>
    <% if (errors.telefoneError) { %>
      <p>
        <small class="msgAlert"><%= errors.telefoneError %></small>
      </p>
    <% } %>
    <input type="tel" name="iptTelefone" class="br-7" placeholder="(00) 00000-0000" value="<%= dados.telefone %>">

    <label>Celular:</label>
    <% if (errors.celularError) { %>
      <p>
        <small class="msgAlert"><%= errors.celularError %></small>
      </p>
    <% } %>
    <input type="tel" name="iptCelular" class="br-7" placeholder="(00) 00000-0000" value="<%= dados.celular %>">    

    <label>CEP:</label>
    <% if (errors.cepError) { %>
      <p>
        <small class="msgAlert"><%= errors.cepError %></small>
      </p>
    <% } %>
    <input type="text" name="iptCEP" class="br-7" placeholder="00000-000" value="<%= dados.cep %>">
    
    <label>UF:</label>
    <% if (errors.ufError) { %>
      <p>
        <small class="msgAlert"><%= errors.ufError %></small>
      </p>      
    <% } %>
    <select name="iptUF" class="br-7">
        <% response.data.forEach(info => { %>
            <% if (info.id == dados.uf) { %>
              <option value="<%= info.id %>" selected><%= info.sigla %></option>
            <% } else { %>
              <option value="<%= info.id %>"><%= info.sigla %></option>
            <% } %>
        <% }) %>
      </select>
    
    <label>Localização/Cidade:</label>
    <% if (errors.localizacaoError) { %>
      <p>
        <small class="msgAlert"><%= errors.localizacaoError %></small>
      </p>
    <% } %>
    <input type="text" name="iptLocalizacao" class="br-7" value="<%= dados.localizacao %>">    

    <label>Endereço:</label>
    <% if (errors.enderecoError) { %>
      <p>
        <small class="msgAlert"><%= errors.enderecoError %></small>
      </p>
    <% } %>
    <input type="text" name="iptEndereco" class="br-7" placeholder="Bairro/Rua/Número" value="<%= dados.endereco %>">

    <label>Número do estabelecimento:</label>
    <% if (errors.numeroError) { %>
      <p>
        <small class="msgAlert"><%= errors.numeroError %></small>
      </p>
    <% } %>
    <input type="number" name="iptNumero" class="br-7" value="<%= dados.numero %>">    

    <label>Informações adicionais:</label>
    <% if (errors.informacoesError) { %>
      <p>
        <small class="msgAlert"><%= errors.informacoesError %></small>
      </p>
    <% } %>
    <textarea class="br-7" rows="10" name="iptInformacoes"><%= dados.informacoes %></textarea>

    <label>CPF/CNPJ:</label>
    <% if (errors.identificacaoError) { %>
      <p>
        <small class="msgAlert"><%= errors.identificacaoError %></small>
      </p>
    <% } %>
    <input type="text" name="iptIdentificacao" class="br-7" value="<%= dados.identificacao %>">
    
    <label>Contrato assinado:</label>
    <input type="file" name="iptContrato" class="br-7">

    <button type="submit" class="btn btn-add btn-right">Cadastrar</button>
  </form>
</main>
<script type="text/javascript" src="/js/botoesExpandirAcoes.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/mascarasCliente.js"></script>
<script type="text/javascript" src="/js/axiosCEP.js"></script>
<script type="text/javascript" src="/js/desmascararCliente.js"></script>
<script type="text/javascript" src="/js/limitarDatas.js"></script>
<%- include('../../partials/admin/footer.ejs') %>