<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Clientes</h2>
  </hgroup>
  <a href="/admin/cliente/novo" class="btn btn-add">Novo cliente</a>
  <hr class="horizontal-bar">
  <article class="clientes">
    <table>
      <thead>
        <tr>
          <th class="table-id">ID</th>
          <th class="table-nome">Nome</th>
          <th class="table-email">Email</th>
          <th class="table-celular">Celular</th>
          <th class="table-acao">Ação</th>
        </tr>
      </thead>
      <tbody>
        <% clientes.forEach(cliente => { %>
          <tr>
            <td class="table-id"><%= cliente.id %></td>
            <td class="table-nome"><%= cliente.nome %></td>
            <td class="table-email"><%= cliente.email %></td>
            <td class="table-celular td-celular"><%= cliente.celular %></td>
            <td class="table-acao">
              <button class="btn-table-acao btn-expandir-acoes expandir-0"><i class="fas fa-ellipsis-h"></i></button>
              <ul class="acoes acoes-0">
                <li>
                  <a href="/admin/cliente/edit/<%= cliente.id %>" class="btn-table-acao btn-editar-registro" title="Editar registro"><i class="fa fa-edit"></i></a>
                </li>
                <li>
                  <form method="POST" action="/admin/cliente/deletar" onsubmit="deletarRegistro(event, this)">
                    <input type="hidden" name="iptId" value="<%= cliente.id %>">
                    <button type="submit" class="btn-table-acao btn-deletar-registro" title="Deletar registro"><i class="fa fa-eraser"></i></button>
                  </form>
                </li>
                <li>
                  <a href="/admin/cliente/<%= cliente.id %>" class="btn-table-acao btn-info-registro" title="Informações do registro"><i class="fa fa-info-circle"></i></a>
                </li>
              </ul>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </article>
</main>
<script type="text/javascript" src="/js/botoesExpandirAcoes.js"></script>
<script type="text/javascript" src="/js/deletarRegistro.js"></script>
<%- include('../../partials/admin/footer.ejs') %>