<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Cadastrar</h2>
    <h3>Cadastrar nova contratação</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <form class="form-cadastro" method="POST" action="/admin/contratacao/salvarNova">
    <label>Data:</label>
    <% if (erros.dataContratacaoError) { %>
      <p>
        <small class="msgAlert"><%= erros.dataContratacaoError %></small>
      </p>
    <% } %>
    <input type="date" name="iptDataContratacao" class="br-7">

    <label>Contratante:</label>
    <% if (erros.contratanteError) { %>
      <p>
        <small class="msgAlert"><%= erros.contratanteError %></small>
      </p>
    <% } %>
    <select name="iptContratante" class="br-7">
      <% table_clientes.forEach(cliente => { %>
        <option value="<%= cliente.id %>"><%= cliente.nome %></option>
      <% }) %>
    </select>

    <label>Serviço:</label>
    <% if (erros.servicoError) { %>
      <p>
        <small class="msgAlert"><%= erros.servicoError %></small>
      </p>
    <% } %>
    <select name="iptServico" class="br-7">
      <% table_servicos.forEach(servico => { %>
        <option value="<%= servico.id %>"><%= servico.servico %></option>
      <% }) %>
    </select>

    <label>Contrato assinado:</label>
    <input type="file" name="iptContrato" class="br-7">

    <button type="submit" class="btn btn-add btn-right">Cadastrar</button>
  </form>
</main>
<script type="text/javascript" src="/js/limitarDatas.js"></script>
<%- include('../../partials/admin/footer.ejs') %>