<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Atualizar</h2>
    <h3>Atualizar contratação</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <form class="form-cadastro" method="POST" action="/admin/contratacao/salvarCadastrada">
    <input type="hidden" name="iptId" value="<%= contratacao.id %>">

    <label>Data:</label>
    <% if (erros.dataContratacao) { %>
      <p>
        <small class="msgAlert"><%= erros.dataContratacao %></small>
      </p>
    <% } %>
    <input type="date" name="iptDataContratacao" class="br-7" value="<%= contratacao.data_contratacao %>">

    <label>Contratante:</label>
    <% if (erros.contratanteError) { %>
      <p>
        <small class="msgAlert"><%= erros.contratanteError %></small>
      </p>
    <% } %>
    <select name="iptContratante" class="br-7">
      <% table_clientes.forEach(cliente => { %>
        <% if (cliente.clienteId == contratacao.cliente_id) { %>
          <option value="<%= cliente.clienteId %>" selected><%= cliente.nome %></option>
        <% } else { %>
          <option value="<%= cliente.clienteId %>"><%= cliente.nome %></option>
        <% } %>
      <% }) %>
    </select>

    <label>Serviço:</label>
    <% if (erros.servicoError) { %>
      <p>
        <small class="msgAlert"><%= erros.servicoError %></small>
      </p>
    <% } %>
    <select name="iptServico" class="br-7">
      <% table_servicos.forEach(servico => { %>
        <% if (servico.servicoId == contratacao.servico_id) { %>
          <option value="<%= servico.servicoId %>" selected><%= servico.servico %></option>
        <% } else { %>
          <option value="<%= servico.servicoId %>"><%= servico.servico %></option>
        <% } %>
      <% }) %>
    </select>

    <label>Contrato assinado:</label>
    <input type="file" name="iptContrato" class="br-7">

    <button type="submit" class="btn btn-edit btn-right">Atualizar</button>
  </form>
</main>
<script type="text/javascript" src="/js/limitarDatas.js"></script>
<%- include('../../partials/admin/footer.ejs') %>