<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Contratações</h2>
  </hgroup>
  <a href="/admin/contratacao/nova" class="btn btn-add">Nova contratação</a>
  <hr class="horizontal-bar">
  <article class="contratacoes">
    <table>
      <thead>
        <tr>
          <th class="table-id">ID</th>
          <th class="table-contratante">Contratante</th>
          <th class="table-servico">Serviço</th>
          <th class="table-status">Status</th>
          <th class="table-acao">Ação</th>
        </tr>
      </thead>
      <tbody>
        <% table_contratacoes.forEach(contratacao => { %>
          <tr>
            <td class="table-id"><%= contratacao.contratacaoId %></td>
            <td class="table-contratante"><%= contratacao.cliente %></td>
            <td class="table-servico"><%= contratacao.servico %></td>
            <td class="table-status">
              
                <% if (contratacao.status_id == 1) { %>
                  <svg width="20" height="20">
                    <circle cx="10" cy="10" r="10" class="status-aberto" />
                  </svg>
                  <%= contratacao.status_contratacao %>
                <% } else if (contratacao.status_id == 2) { %>
                  <svg width="20" height="20">
                    <circle cx="10" cy="10" r="10" class="status-em-andamento" />
                  </svg>
                  <%= contratacao.status_contratacao %>
                <% } else { %>
                  <svg width="20" height="20">
                    <circle cx="10" cy="10" r="10" class="status-finalizado" />
                  </svg>
                  <%= contratacao.status_contratacao %>
                <% } %>
            </td>
            <td class="table-acao">
              <button class="btn-table-acao btn-expandir-acoes expandir-<%= contratacao.contratacaoId %>"><i class="fas fa-ellipsis-h"></i></button>
              <ul class="acoes acoes-<%= contratacao.contratacaoId %>">
                <li>
                  <a href="/admin/contratacao/edit/<%= contratacao.contratacaoId %>" class="btn-table-acao btn-editar-registro" title="Editar registro"><i class="fa fa-edit"></i></a>
                </li>
                <li>
                  <form method="POST" action="/admin/contratacao/deletar" onsubmit="deletarRegistro(event, this)">
                    <input type="hidden" name="iptId" value="<%= contratacao.contratacaoId %>">
                    <button type="submit" class="btn-table-acao btn-deletar-registro" title="Deletar registro"><i class="fa fa-eraser"></i></button>
                  </form>
                </li>
                <li>
                  <a href="/admin/contratacao/<%= contratacao.contratacaoId %>" class="btn-table-acao btn-info-registro" title="Informações do registro"><i class="fa fa-info-circle"></i></a>
                </li>
              </ul>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </article>
</main>
<script type="text/javascript" src="/js/botoesExpandirAcoes.js"></script>
<script type="text/javascript" src="/js/deletarRegistro.js"></script>
<%- include('../../partials/admin/footer.ejs') %>