<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Atualizar</h2>
    <h3>Atualizar informações do serviço</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <form class="form-cadastro" method="POST" action="/admin/servico/salvarEdicao">
    <input type="hidden" name="iptId" value="<%= funcionarioServico.id %>">

    <label>Serviço:</label>
    <% if (erros.servicoError) { %>
      <p>
        <small class="msgAlert"><%= erros.servicoError %></small>
      </p>
    <% } %>
    <input type="text" name="iptServico" class="br-7" placeholder="Nome do serviço" value="<%= dados.servico.length != 0 ? dados.servico : funcionarioServico.servico %>">

    <label>Responsáveis:</label>
    <% if (erros.responsaveisError) { %>
      <p>
        <small class="msgAlert"><%= erros.responsaveisError %></small>
      </p>
    <% } %>
    <div class="div-responsaveis">
      <% if (dados.responsaveis.length != 0) { %>
        <% funcionariosCargos.forEach(funcionario => { %>
          <% if (dados.responsaveis.indexOf((funcionario.funcionarioId).toString()) != -1) { %>
            <label class="lbl-func-cargo">
              <input type="checkbox" name="iptResponsaveis" value="<%= funcionario.funcionarioId %>" checked> <%= funcionario.nome %> - <%= funcionario.cargo  %>
            </label>
          <% } else { %>
            <label class="lbl-func-cargo">
              <input type="checkbox" name="iptResponsaveis" value="<%= funcionario.funcionarioId %>"> <%= funcionario.nome %> - <%= funcionario.cargo  %>
            </label>
          <% } %>
        <% }) %>
      <% } else if (funcionarioServico.responsaveis.length != 0) { %>
        <% funcionariosCargos.forEach(funcionario => { %>
          <% if (funcionarioServico.responsaveis.map(responsavel => responsavel.id).indexOf(funcionario.funcionarioId) != -1) { %>
            <label class="lbl-func-cargo">
              <input type="checkbox" name="iptResponsaveis" value="<%= funcionario.funcionarioId %>" checked> <%= funcionario.nome %> - <%= funcionario.cargo  %>
            </label>
          <% } else { %>
            <label class="lbl-func-cargo">
              <input type="checkbox" name="iptResponsaveis" value="<%= funcionario.funcionarioId %>"> <%= funcionario.nome %> - <%= funcionario.cargo  %>
            </label>
          <% } %>
        <% }) %>
      <% } %>
    </div>

    <label>Informações adicionais:</label>
    <% if (erros.informacoesError) { %>
      <p>
        <small class="msgAlert"><%= erros.informacoesError %></small>
      </p>
    <% } %>
    <textarea class="br-7" rows="10" name="iptInformacoes"><%= dados.informacoes.length != 0 ? dados.informacoes : funcionarioServico.informacoes %></textarea>

    <label>Contrato do serviço:</label>
    <input type="file" name="iptContrato" class="br-7">

    <button type="submit" class="btn btn-edit btn-right">Atualizar</button>
  </form>
</main>
<%- include('../../partials/admin/footer.ejs') %>