<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Serviços</h2>
  </hgroup>
  <a href="/admin/servico/novo" class="btn btn-add">Novo serviço</a>
  <hr class="horizontal-bar">
  <article class="servicos">
    <table>
      <thead>
        <tr>
          <th class="table-id">ID</th>
          <th class="table-servico">Serviço</th>
          <th class="table-responsaveis">Responsáveis</th>
          <th class="table-acao">Ação</th>
        </tr>
      </thead>
      <tbody>
        <% registros.forEach(registro => { %>
          <tr>
            <td class="table-id"><%= registro.id %></td>
            <td class="table-servico"><%= registro.servico %></td>
            <td class="table-responsaveis">
              <ul class="ul-responsaveis">
                <% registro.responsaveis.forEach(responsavel => { %>
                  <li><%= responsavel %></li>
                <% }) %>
              </ul>
            </td>
            <td class="table-acao">
              <button class="btn-table-acao btn-expandir-acoes expandir-<%= registro.id %>"><i class="fas fa-ellipsis-h"></i></button>
              <ul class="acoes acoes-<%= registro.id %>">
                <li>
                  <a href="/admin/servico/edit/<%= registro.id %>" class="btn-table-acao btn-editar-registro" title="Editar registro"><i class="fa fa-edit"></i></a>
                </li>
                <li>
                  <form method="POST" action="/admin/servico/deletar" onsubmit="deletarRegistro(event, this)">
                    <input type="hidden" name="iptId" value="<%= registro.id %>">
                    <button type="submit" class="btn-table-acao btn-deletar-registro" title="Deletar registro"><i class="fa fa-eraser"></i></button>
                  </form>
                </li>
                <li>
                  <a href="/admin/servico/<%= registro.id %>" class="btn-table-acao btn-info-registro" title="Informações do registro"><i class="fa fa-info-circle"></i></a>
                </li>
              </ul>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </article>
</main>
<script type="text/javascript" src="/js/botoesExpandirAcoes.js"></script>
<script type="text/javascript" src="/js/deletarRegistro.js"></script>
<%- include('../../partials/admin/footer.ejs') %>