<%- include('../../partials/admin/header.ejs') %>
<main class="principal container">
  <hgroup>
    <h2>Artigos</h2>
  </hgroup>
  <a href="/admin/artigo/novo" class="btn btn-add">Novo artigo</a>
  <a href="/admin/artigos/categorias/nova" class="btn btn-add">Nova categoria</a>
  <hr class="horizontal-bar">
  <article class="artigos">
    <table>
      <thead>
        <tr>
          <th class="table-id">ID</th>
          <th class="table-titulo">Título</th>
          <th class="table-categoria">Categoria</th>
          <th class="table-autor">Autor</th>
          <th class="table-status">Status</th>
          <th class="table-acao">Ação</th>
        </tr>
      </thead>
      <tbody>
        <% table_artigos.forEach(artigo => { %>
        <tr>
          <td class="table-id"><%= artigo.artigoId %></td>
          <td class="table-titulo"><%= artigo.titulo %></td>
          <td class="table-categoria"><%= artigo.categoria %></td>
          <td class="table-autor"><%= artigo.nome %></td>
          <td class="table-status">
            <% if (artigo.statusId == 1) { %>
              <svg width="20" height="20">
                <circle cx="10" cy="10" r="10" class="status-em-desenvolvimento" />
              </svg>
            <% } else { %>
              <svg width="20" height="20">
                <circle cx="10" cy="10" r="10" class="status-publicado" />
              </svg>
            <% } %>
            <%= artigo.status_artigo %>
          </td>
          <td class="table-acao">
            <button class="btn-table-acao btn-expandir-acoes expandir-<%= artigo.artigoId %>"><i class="fas fa-ellipsis-h"></i></button>
            <ul class="acoes acoes-<%= artigo.artigoId %>">
              <li>
                <a href="/admin/artigo/edit/<%= artigo.artigoId %>" class="btn-table-acao btn-editar-registro" title="Editar registro"><i class="fa fa-edit"></i></a>
              </li>
              <li>
                <form method="POST" action="/admin/artigo/deletar" onsubmit="deletarRegistro(event, this)">
                  <input type="hidden" name="iptId" value="<%= artigo.artigoId %>">
                  <button type="submit" class="btn-table-acao btn-deletar-registro" title="Deletar registro"><i class="fa fa-eraser"></i></button>
                </form>
              </li>
              <li>
                <a href="/admin/artigo/<%= artigo.artigoId %>" class="btn-table-acao btn-info-registro" title="Visualizar artigo"><i class="fas fa-eye"></i></a>
              </li>
            </ul>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </article>
</main>
<script type="text/javascript" src="/js/botoesExpandirAcoes.js"></script>
<script type="text/javascript" src="/js/deletarRegistro.js"></script>
<%- include('../../partials/admin/footer.ejs') %>