<%- include('../../partials/admin/header.ejs') %>
<main class="funcionarios principal container">
  <hgroup>
    <h2>Artigos</h2>
    <h3>Cadastrar nova categoria para artigos</h3>
  </hgroup>
  <hr class="horizontal-bar">
  <article class="artigos-opcoes">
    <form class="form-cadastro form-categoria" method="POST" action="/admin/artigos/categorias/salvarNova">
      <label>Categoria:</label>
      <div class="entrada">
        <input type="text" name="iptCategoria" class="br-7" placeholder="Nome da nova categoria">
        <button type="submit" class="btn btn-add">Cadastrar</button>
      </div>
    </form>
    <hr class="hr-div-horizontal">
    <table class="table-artigos-categorias">
      <caption>
        <h4>Categorias cadastradas</h4>
      </caption>
      <thead>
        <tr>
          <th class="table-id">ID</th>
          <th class="table-nome">Categoria</th>
          <th class="table-acao">Ação</th>
        </tr>
      </thead>
      <tbody>
        <% table_artigos.forEach(artigo => { %>
          <tr>
            <td class="table-id"><%= artigo.id %></td>
            <td class="table-nome"><%= artigo.categoria %></td>
            <td class="table-acao">
              <form method="POST" action="/admin/artigos/categoria/deletar" onsubmit="deletarRegistro(event, this)">
                <input type="hidden" name="iptId" value="<%= artigo.id %>">
                <button type="submit" class="btn-table-acao btn-deletar-registro" title="Deletar registro"><i class="fa fa-eraser"></i></button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </article>
</main>
<script type="text/javascript" src="/js/deletarRegistro.js"></script>
<%- include('../../partials/admin/footer.ejs') %>